
<center>
	<h2>HST Task</h2>
<div class="outer_div">
<table>
	<tr>
		<% @collections.each do |collection| %>
		<th> <%= collection.name %> </th>
		<% end %>
	</tr>
	<tr>
		<% @collections.each do |collection| %>
		<td>
			<ul id="list_<%= collection.id %>" class="sort_list">
				<% collection.items.each do |item| %>
					<li class="list_items" id="item_<%= item.id %>"><%= item.name %></li>
				<% end %>
			</ul>
		</td>
		<% end %>
	</tr>
<table>
</div>
</center>